PORT=your_port_here

DB_HOST=your_db_host_here
DB_USERNAME=your_db_username_here
DB_PASSWORD=your_db_password_here
DB_NAME=your_db_name_here
DB_PORT=27017
DATABASE_URL=mongodb://$DB_USERNAME:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME?authSource=admin
